.video-item {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
    cursor: pointer;
}
.video-item img{
    max-width: 180px !important;
    border-radius: 10px !important;

}